<main role="main">
    <section class="jumbotron text-center bg-light">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h1>Створіть своє перше оголошення</h1>
                    <p class="lead text-muted">Заповніть всі необхідні поля і ваше оголошення скоро з'явиться!</p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">Створити оголошення</a>
                    </p>
                </div>
                <div class="carousel-item  ">
                    <h1>Зареєструйтесь або увійдіть</h1>
                    <p class="lead text-muted">І вже через хвилину ви зможете розмістити своє оголошення</p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">Реєстрація</a>
                        <a href="#" class="btn btn-secondary my-2">Вхід</a>
                    </p>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </section>
    <section class="jumbotron bg-light text-center">
        <h1> Пошук оголошень</h1>
        <div class="input-group mb-3 input-group-lg">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-success" type="submit">Go</button>
            </div>
        </div>

    </section>
</main>