@model AnnouncementListViewModel

<main role="main">
    <section class="jumbotron text-center">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h1>Create your first announcement</h1>
                    <p class="lead text-muted">Fill in all required fields and your ad will appear shortly!</p>
                    <p>
                        <a class="btn btn-primary my-2" asp-controller="Announcement" asp-action="AddAnnouncement">create announcement</a>
                    </p>
                </div>
                <div class="carousel-item  ">
                    <h1>Register or Login</h1>
                    <p class="lead text-muted">And in a minute you can publish your ad</p>
                    <p>
                        <a class="btn btn-primary my-2" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        <a class="btn btn-secondary my-2" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </p>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </section>
    
    <div>
        <partial name="_Search" />
        <section class="jumbotron text-center ">
            <div class="container text-center">
                @foreach (var category in @Model.Categories)
                {
                    <a class="btn btn-primary my-2" asp-controller="Announcement" asp-action="AnnouncementList" asp-route-category="@category.CategoryName">@category.CategoryName</a>
                }
            </div>

        </section>
    </div>
   
</main>