@model AnnouncementListViewModel

<section class="jumbotron align-items-center">
<div class ="container">
<form asp-action="AddAnnouncement" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    <h4 align="center">Add your announcement!</h4>

    <div asp-validation-summary="All" class="text-danger"></div>


    <div class="form-group  mb-3">
        <label asp-for="Announcement.Title" class="control-label"></label>
        <div>
            <input asp-for="Announcement.Title" class="form-control" />
            <span asp-validation-for="Announcement.Title" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Announcement.Description" class="control-label"></label>
        <div >
            <input asp-for="Announcement.Description" class="form-control" />
            <span asp-validation-for="Announcement.Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group  mb-3">
        <label asp-for="Announcement.CategoryId" class="control-label"></label>
        <div>
                <select class="form-control" asp-for="Announcement.CategoryId" asp-items="@(new SelectList(Model.Categories, "CategoryId", "CategoryName"))">
                </select>
        </div>
        </div>
    <div class="form-group  mb-3">
        <div>
            <p>Upload photo</p>
            <input multiple class="choose" type="file" name="file"/>
        </div>
    </div>

    <div class="form-group mb-3">
        <div >
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Add" />
        </div>
    </div>
</form>
</div>
</section>
